data/CoDeX-S filter=lfs diff=lfs merge=lfs -text
data/FB15K-237N filter=lfs diff=lfs merge=lfs -text
data/text-context filter=lfs diff=lfs merge=lfs -text
data/text_context_evaluation_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/web_context_evaluation_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/wikidata_entities.jsonl filter=lfs diff=lfs merge=lfs -text
data/results filter=lfs diff=lfs merge=lfs -text
data/web_context_FB13_evaluation_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/wikidata-properties-counts.csv filter=lfs diff=lfs merge=lfs -text
data/FB13 filter=lfs diff=lfs merge=lfs -text
data/WN11 filter=lfs diff=lfs merge=lfs -text
data/WN18RR filter=lfs diff=lfs merge=lfs -text
data/evaluation_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/no-context filter=lfs diff=lfs merge=lfs -text
data/wikidata_kg_context_evaluation_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/world_knowledge_evaluation_results.jsonl filter=lfs diff=lfs merge=lfs -text
data/NELL.zip filter=lfs diff=lfs merge=lfs -text
data/YAGO3-10 filter=lfs diff=lfs merge=lfs -text
data/all-wikidata-properties.json filter=lfs diff=lfs merge=lfs -text
data/prediction.jsonl filter=lfs diff=lfs merge=lfs -text
data/websearch-context filter=lfs diff=lfs merge=lfs -text
data/wikidata-context filter=lfs diff=lfs merge=lfs -text
